@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Archivo+Black&display=swap');

body{
    padding: 75px;
    margin: 40px;
    color: #000000;
    font-size: 20px;
  font-family: "Archivo", sans-serif;
background-image: url("./assests/Back1.jpg");
}

.content{
    text-align: left;
    margin-top: -655px;
    margin-right: 1100px;
    font-size: 16px;
    position: absolute;

}

img {
    width: 40%;
    height: 40%;
    margin-left: 500px;
    margin-top: -25px;

}

img{
    animation: waggle-dance;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.click {
    margin-top: -450px;
    margin-left: 700px;
    rotate: calc(25deg);
    font-size: 10px;
  font-family: "Archivo Black", sans-serif;
    color: #ffffff;
    position: absolute;
}


.section {
  text-align: center;
  margin-left: 1100px;
  margin-top: -250px;
  letter-spacing: 5px;
  line-height: 40px;
  position: absolute;
  display: none; /* hidden by default; will be shown when flan is clicked */
}

.section.show {
  display: block;
}

a {
    text-decoration: none;
    color: #000000;
}
.section :hover {
    color: lch(0% 0 0 / 0.388);
    cursor: pointer;
    transform: scale(150%);
    
}


@keyframes waggle-dance {
  0% {
    transform: rotate(10deg);

  }
  50% {
    transform: rotate(-10deg);

  }
  100% {
    transform: rotate(10deg);
  }
}