@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Archivo+Black&display=swap');

body {
    font-size: 30px;
    font-family: "Archivo", sans-serif;
    background-image: url("./assets/Back1.jpg");
}

h4 {
    font-size: 24px;
    font-family: "Archivo Black", sans-serif;
    margin-top: 100px;
    margin-left: -100px;
}

main {
    display: flex;
}

#settings {
    margin: 25px;
}

label {
    display: inline-block;
    margin-bottom: 20px;
}

#poster {
    border: 1px dotted;
    display: inline-block;
    padding: 25px;
    text-align: center;
}

#poster-text {
    font-size: 24px;
    font-family: "Codystar";
}

#poster-image {
    width: 300px;
}

button, select{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 0;
    padding: 3px;
    border:1px solid black;
    outline:none;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
img {
    max-width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

a,
a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.my-button {
    display: block;
    margin-top: -500px;
    margin-left: 700px;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(70, 79, 96);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: top;
}

.my-button:hover {
    background-color: #000000;
}

nav {
    padding: 1rem;
    display: flex;

}

.off-screen-menu {
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 100px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    /* default: plain thin bar */
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    display: block;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
}


.ham-menu span:nth-child(2) {
    height: 100px;
    width: 100px;
    background-image: url('../assests/flan.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ham-menu span:nth-child(1) {
    top: 25%;

}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

nav a {
    margin-right: 35px;
    color: white;
    text-decoration: none;
    position: relative;
}

.rang {
    position: sticky;
    top: 0;
}


.about {
    width: 50%;
    margin: 0% auto;
    text-align: center;
    position: relative;
    font-size: larger;

    background-color: darkgrey;
}

#treats {
    text-align: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
    z-index: 10;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        column-gap: 20px;
    }

    .gallery img {
        width: 200px;
        height: 200px;
    }

    .title-div {
        font-size: 24px;
    }

    .my-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

@media print {

    #poster{
        print-color-adjust: exact;
    }

    #settings,
    #print,
    h4 {
        display: none;
    }
}


@media (max-width: 760px) {
    main{
        flex-direction: column;
    }
    #settings {
        margin: 15px;
    }
    #poster{
        padding: 15px;
    }
    #poster-text {
        font-size: 25px;
        font-family: "Codystar";
    }
    #poster-image {
        width: 200px;
    }
}

.floating-flan {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image: url('../assests/flan.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 1;
    opacity: 0.7;
    animation: flan-float 12s ease-in-out infinite;
}

.floating-flan-2 {
    width: 80px;
    height: 80px;
    opacity: 0.6;
    animation: flan-float-2 14s ease-in-out infinite;
}

@keyframes flan-float {
    0% {
        left: 5%;
        top: 10%;
        transform: rotate(0deg) scale(1);
    }
    25% {
        left: 80%;
        top: 20%;
        transform: rotate(15deg) scale(1.1);
    }
    50% {
        left: 70%;
        top: 60%;
        transform: rotate(30deg) scale(0.95);
    }
    75% {
        left: 10%;
        top: 70%;
        transform: rotate(-15deg) scale(1.05);
    }
    100% {
        left: 5%;
        top: 10%;
        transform: rotate(0deg) scale(1);
    }
}   

@keyframes flan-float-2 {
    0% {
        left: 80%;
        top: 5%;
        transform: rotate(-10deg) scale(0.95);
    }
    25% {
        left: 20%;
        top: 25%;
        transform: rotate(-25deg) scale(1.05);
    }
    50% {
        left: 15%;
        top: 65%;
        transform: rotate(10deg) scale(0.9);
    }
    75% {
        left: 75%;
        top: 75%;
        transform: rotate(20deg) scale(1.05);
    }
    100% {
        left: 80%;
        top: 5%;
        transform: rotate(-10deg) scale(0.95);
    }
}