body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #89CFF0;
}

.header {
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-right: 1500px;
    text-align: left;
    font-size: 15px;
}

.title {
    text-align: left;
    margin: 20px 0;
}
.top {
    color: #000000;
    font-size: 20px;
}
.description {
    text-align: center;
    font-size: 30px;
    color: #000000;
    position:absolute;
    margin-left:200px;
    margin-top: 150px;
    rotate: -20deg;

}
.snowflake img{
    max-width: 300px;
    height: 300px;
    right: 50px;
    top: -50px;
    margin-left: 1000px;
}


.snowflakeone img{
   max-width: 200px;
    height: 200px;
    right: 50px;
    top: -50px;
    margin-left: 1200px;
}

.snowflaketwo img{
  max-width: 100px;
    height: 100px;
    right: 50px;
    top: -50px;
    margin-left: 1100px;

}


.tazaa img {
   max-width: 500px;
    height: 500px;
    left: 200px;
    bottom: 10px;
    margin-right: 2100px;
    position: absolute;
    rotate: -20deg;

}
.chocolate img {
    max-width: 450px;
    height: 350px;
    left: 130px;
    bottom: 250px;
    margin-right: 2100px;
    position: absolute;
    rotate: 10deg;
}

.snowflake img{
    animation: waggle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.snowflakeone img{
    animation: waggle;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.snowflaketwo img{
    animation: waggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.snowflakethree img{
    animation: waggle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.chocolate:hover {
    transform: scale(10.05);
    transition: transform 0.3s;
}

.chocolate:hover p{
    transform: scale(1.05);
    opacity:0; /* hide on default */
    transition: opacity 0.5s ease;
}

.description > div:hover p{

    opacity:1; /* when you hover over the div that surrounds the text and image, show the text*/
  
}


@keyframes waggle {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(20deg); }
}

/*mobile*/
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    .description {
        font-size: 40px;
        margin-right: 300px;
        margin-left: 200px;
        margin-top: 100px;
        rotate: -20deg;
    }

    #tazaa img {
        max-width: 5%;
        /* height: 50px; */
        left: 0;
        top: 0;
        margin-bottom: 0px;
    }
    #chocolate img {
        max-width: 100px;
        height: 100px;
        left: 0;
        top: 0;
        margin-bottom: 20px;
    }

    .snowflake img {
        max-width: 10%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 500px;
   
    }

    .snowflakeone img {
        max-width: 20%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 5px;

    }
    .snowflaketwo img {
        max-width: 10%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 10px;

    }
    .snowflakethree img {
        max-width: 10%;
        height: auto;
        margin-top: -300px;
        margin-left: 100px;
}
.header {
    text-align: left;
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 455px; 
}
}