@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Archivo+Black&display=swap');

body{
    color: #000000;
    font-size: 20px;
    font-family: "Archivo", sans-serif;
    margin-right:200px;

}

.title{
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 250px;
    font-family: "Archivo Black", sans-serif;
}

.intro{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 300px;
}

.tresleches, .espumilla, .guaguadepan, .heladodepaila, .quimbolito{
    text-align: left;
    margin-bottom: 50px;
}

.tresleches img, .espumilla img, .guaguadepan img, .heladodepaila img, .quimbolito img{
    width: 400px;
    height: auto;
    display:flex;
    margin-right: 50px;
}

nav{
    padding: 1rem;
    display: flex; 
   
}
.off-screen-menu{
   background-color: black;
   height: 100vh;
    width: 100%;
    max-width: 450px;
    position:fixed;
    top:0;
    right:-450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active{
    right:0;
}

.ham-menu{
    /*make it sticky*/
    position: fixed;
    top: 10px;
    left:10px;
    /***/
    height: 50px;
    width: 100px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    /* default: plain thin bar */
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    display: block;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
}

/* Only the middle bar shows the image */
.ham-menu span:nth-child(2){
    height: 100px;
    width: 100px;
    background-image: url('../assests/flan.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ham-menu span:nth-child(1){
    top: 25%;

}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
nav a{
    margin-right: 35px;
    color: white;
    text-decoration: none;
    position: relative;
}

.rang{
    position: sticky;
    top: 0;
}


.about{
    width: 50%;
    margin: 0% auto;
    text-align: center;
    position: relative;
    font-size: larger;
    padding-bottom: 50px;
    background-color: darkgrey;
}








