
body{
    background-color: #ffffff;
    color: #111111;
}

body.dark-mode{
    background-color: rgb(29, 11, 11);
    color: rgb(255, 255, 255);
}


#imgoreo {
    width: 700px;
    height: 400px;
    display: none;
    margin-left: 50px;
    margin-top: 0px;
    padding-left: 0px;
}

#imgvanilla {
    width: 500px;
    height: 400px;
  
    display: block;
    margin-left: 1200px;
    margin-top: -600px;
 


}

.this {
    text-align: center;
    margin-top: -300px;
    margin-left: 800px;
    position: absolute;
    font-size: 80px;

}

button{
    
    position: absolute;
    left: 900px;       
    top: 350px;         
    z-index: 10;
    text-align: center;
    padding: 10px 50px;
}

.that {
    text-align: center;
    font-size: 80px;
    margin-top: 400px;
}


.this h2, .that h2 {
    transition: color 200ms ease;
}


body.dark-mode #imgvanilla {
    display: none;
}

body.dark-mode #imgoreo {
    display: block;
}

